.modal {
  /* width: 50rem; */
  /* max-width: 90%; */
  width: 50%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
  position: fixed;
  top: 20vh;
  left: 25%;
  /* margin: auto; */
  text-align: center;
  border-radius: 10px;
}

.modal__header {
  padding: 1rem;
  background: #5101d1;
  color: white;
}

.modal__header h1 {
  margin: 0;
  font-size: 1.25rem;
}

.modal__content {
  padding: 1rem;
}

.modal__actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

/* @media (min-width: 768px) {
  .modal {
    width: 50rem;
    left: calc((100% -50rem) / 2);
  }
} */
