.events-control {
  text-align: center;
  border: 1.5px solid purple;
  padding: 1rem;
  margin: 5rem auto;
  width: 30rem;
  max-width: 80%;
}

.events-control button {
  width: 30rem;
  height: 3rem;
}

.events__list {
  margin-top: 2rem;
  max-width: 90%;
  margin: 2rem auto;
  list-style: none;
  padding: 0;
}

.events__list-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid purple;
}
